/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  /*overflow-x: hidden;*/ /* So it doesn't pop up during 
                         slide in animation */           
}

#pageTitle {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 54px; font-weight: 300;
}

#star {
  position: absolute;
  top: 10px;
  right: 10px;
  max-width: 30px;
  max-height: 30px;
}

/* Fade in animation for answer */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Fade out animation */
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadeoutfadein {
    0% { opacity: 1; }
    50%   { opacity: 0; }
    100%   { opacity: 1; }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.container {
  max-width: 730px;
  height: 200px; /* Preferred height */
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  position: relative; 
}

.jumboanim {
  animation: fadeoutfadein 0.6s;
}

.jumbotron .lead {
  max-width: 580px;
}

.jumbotron .label {
  padding: 14px 24px;
  font-size: 21px;
  max-width:1000px;
}

/* Fade out animation for answer cover */
.fadeout{
    animation: fadeout 0.7s;
}

.jumbotron .label-answer {
  background-color: transparent;
  color: #000000;
  animation: fadein 0.4s;
}


