/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Fade out animation */
.fadeout{
    -webkit-transition: opacity 0.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s;
    opacity: 0;
}

.container {
  max-width: 730px;
  height: 200px; /* Preferred height */
}


.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .label {
  padding: 14px 24px;
  font-size: 21px;
}

.jumbotron .label-answer {
  background-color: transparent;
  color: #000000;
  opacity: 0.8;
}


