/* Fade in animation for answer */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Fade out animation */
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadeoutfadein {
    0% { opacity: 1; }
    50%   { opacity: 0; }
    100%   { opacity: 1; }
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;  
  font-size: 16px;     
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 54px; font-weight: 300;
  color: #192750; /* dark blue */
}

.glyphicon {
  color: #192750; /* dark blue */
}

.glyphicon:hover {
  color: #324C9D; /* blue */
}

#help { /* upper right corner */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  outline: none;
}

#helpMenu {
  background-color: #eee; /* light gray */
  padding: 14px 24px;
  position: relative;
  outline: none;
}

/* The X Button */
.closeX {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #000; /* black */
  outline: none;
}

.closeX:hover {
  color: #324C9D; /* blue */
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #e6eaf7; /* off white */
  background-color: #324C9D; /* blue */
}

.nav-pills > li > a {
  color: #192750; /* dark blue */
  background-color: #eee; /* light gray */
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #192750; /* dark blue */
  background-color: #e2e2e2; /* not as light gray */
}

#star {
  position: absolute;
  top: 8px;
  right: 8px;
  max-width: 25px;
  max-height: 25px;
  outline: none;
}

.container {
  max-width: 730px;
  height: 200px; /* Preferred height */
}

.row {
  max-width: 730px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.spring {
  flex: 2; /* flex-grow, flex-shrink and flex-basis */
}

.arrow {
  font-size: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  position: relative; 
  margin-bottom: 10px;
}

.jumboanim {
  animation: fadeoutfadein 0.6s;
}

.jumbotron .label {
  padding: 14px 24px;
  font-size: 21px;
}

/* Fade out animation for answer cover */
.fadeout{
    animation: fadeout 0.7s;
}

.jumbotron .label-answer {
  background-color: transparent;
  color: #000000;
  animation: fadein 0.4s;
}

.dark-label {
  background-color: #324C9D; /* blue */
  color: #e6eaf7; /* off white*/
}

.dark-label:hover {
  background-color: #2a4084; /* dark blue */
}

.arrow {
  max-width: 80px;
  outline: none;
}

/* Hides the div but still maintains layout of everything else*/
.transparent {
  visibility: hidden;
}
