<!DOCTYPE html>
<html lang="en">
<head>
<title>Trivia</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link href="css/style.css" rel="stylesheet">

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<!-- Angular Animations -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<!-- Underscore -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/main.js"></script>
</head>

<body ng-app="triviaApp" ng-controller="triviaCtrl" ng-keydown="key($event)">
<div class="container">
    <!-- Help menu hidden initially with jQuery -->
    <div id="helpMenu" tabindex="0"> 
        <span class="closeX" role="button" tabindex="0">x</span>
        <b>Keyboard Shortcuts</b> <br> 
        &larr; : Previous Question <br>
        &uarr; : Reveal Answer <br>
        &rarr; : Next Question <br>
        s : Star Question <br>
        [ : Random Mode <br>
        ] : Starred Mode <br>
    </div>
    <div id="pageTitle"><h1>trivia</h1></div>
    <div id="help" role="button" ng-click="showHelpMenu()" class="glyphicon glyphicon-question-sign" aria-label="help" tabindex="0">
    </div>
    <ul class="nav nav-pills nav-justified">
        <li id="random" role="presentation" class="active"> 
            <a role="button" ng-click="showRandomMode()" tabindex="0">random mode</a> 
        </li>
        <li id="starred" role="presentation"> 
            <a role="button" ng-click="showStarredMode()" tabindex="0">starred mode</a> 
        </li>
    </ul>
    <br>
    <div class="row" ng-hide="noStarredQuestions">
        <div id="prev" class="arrow glyphicon glyphicon-chevron-left" role="button" 
            aria-label="leftarrow" ng-class="{transparent: !showPrevArrow}"
            ng-click="showPrevQuestion()" tabindex="0"> 
        </div>
        <div class="jumbotron spring" ng-class="{jumboanim: startJumboAnim}">
            <img alt="emptystar" aria-label="emptystar" role="button" src="images/emptystar.png" id="star" ng-click="toggleStar();" tabindex="0">
            <p class="lead" tabindex="0">{{ currentQuestion }}</p>
            <br>
            <div id="answercover" class="label dark-label" role="button" ng-click="showAnswer();" 
            ng-class="{fadeout: startFadeOut}" ng-hide="answerShown" tabindex="0"> 
                Click to reveal answer 
            </div>
            <div class="label label-answer" ng-show="answerShown" tabindex="0"> 
                {{currentAnswer}} 
            </div>
        </div> <!-- jumbotron -->
        <div id="next" class="arrow glyphicon glyphicon-chevron-right" role="button" 
            aria-label="rightarrow" ng-class="{transparent: hideNextArrow}" 
            ng-click="showNextQuestion()" tabindex="0"> 
        </div>
    </div> <!-- row -->

    <div ng-show="noStarredQuestions"> <br>
        <p>No questions are starred</p> 
    </div>
</div> <!-- container -->
</body>
</html>